
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Titillium+Web:wght@200&display=swap');


p, a {
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: "Marcellus SC", serif; */
    font-weight: bold;

}
#title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    /* font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;  */
    /* font-family: "Marcellus SC", serif; */

    font-weight: bolder;
    font-size: 4vw;
    /* text-shadow: 0 0 .1vw maroon; */
    margin-top: 1.5%;
    margin-bottom: 1.2%;

}
body {
    position: relative;
    /* background-color: rgb(230, 214, 167); */
    background-color: rgb(230, 214, 167);

}

#news {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */

    position: absolute;
    width: 25%;
    left: 65%;
    top: 20%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    border: 0.1vw solid maroon;
    box-shadow: 0 0 .8vw 0 maroon;

}

#newsHead {
    text-align: center;
    font-weight: 1vw;
    font-size: 2vw;

}

#newsBody {
    font-weight: 0.5vw;
    font-size: 1.4vw; 
}

#newsImage {
    display: block;
    margin-left: auto;
    margin-right: auto;  
    width: 15vw;
    height: 15vw;
}

.mylink {
    /* text-shadow: 0 0 0.5vw maroon; */
    text-decoration: underline;

}

#slider {
    margin-left: 2%;
    margin-top: 2%;

    /* position: relative; */
    /* left: 2.5%; */
}

@media (max-width: 1000px) {
    #news {
        left: 0%;
        margin: auto;
        /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
        font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
        position: relative;
        top: 10vw;
        width: 54vw;
        height: 70vw;
        padding-right: 2.5%;
        padding-left: 2.5%;
        border: 0.1vw solid maroon;
        box-shadow: 0 0 .8vw 0 maroon;
    
    }

    #newsHead {
        text-align: center;
        font-weight: 1.3vw;
        font-size: 3vw;
    
    }

    #newsBody {
        font-weight: 0.7vw;
        font-size: 2.2vw; 
    }

    #newsImage {
        display: block;
        margin-left: auto;
        margin-right: auto;  
        width: 38vw;
        height: 38vw;
    }

    #slider {
        width: 60vw;
        height: 35vw;
        position: relative;
        margin: auto;
    }
}