#title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 4vw;
    text-shadow: 0 0 .1vw maroon;
}
body {
    position: relative;
}

#news {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    width: 25%;
    left: 65%;
    top: 20%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    border: 0.1vw solid maroon;
    box-shadow: 0 0 .8vw 0 maroon;

}

#newsHead {
    text-align: center;
    font-weight: 1vw;
    font-size: 2vw;

}

#newsBody {
    font-weight: 0.5vw;
    font-size: 1.4vw; 
}

#newsImage {
    display: block;
    margin-left: auto;
    margin-right: auto;  
    width: 15vw;
    height: 15vw;
}