header img {
    height: 5vw;
    margin-left: 2vw;
}
/* Navbar.css */


header {
    background-color: rgb(230, 185, 185);

    /* background-color: rgb(186, 137, 137); */
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Added justification to evenly space the logo and list items */
    box-shadow: 0 0 1vw 0 black;
}

#imgDiv {
    margin-top: 1vw; /* Adjusted the margin-top */

    margin-left: 2vw;
}

ul {

    list-style: none;
    display: flex;
    margin-top: 1vw; /* Remove the default margin */
    padding: 0; /* Remove the default padding */
}

li {
    margin-top: 1vw;
    
    margin-right: 1.5vw;
    font-size: 1.2vw;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 1vw black;
}

#x {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
}



@media (max-width: 1000px) {

    #menuButton {
        position: absolute;
        left: 90%;
        text-align: right;
        font-size: 2.5vw;
    }

    header {

        flex-direction: column;
        align-items: flex-start;
        justify-content: center; /* Center the list items vertically */
        height: auto;
        padding: 1vw;
        align-items: center;
        z-index: 100;
    }

    .nav-ul {
        flex-direction: column;
        align-items: center; /* Center the list items horizontally */
        margin: 0;
    }

    .nav-li {
        margin: 0.5vw 0;
        font-size: 2.5vw;
    }

    a:hover {
        text-shadow: 0 0 3vw black;
    }


    header img {
        margin-left: 0;
        width: 9vw;
        height: 9vw;
    }
}
