.pic {
    height: 14vw;
    width: 12.5vw;
}

#info {
    font-size: 1.1vw;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
    width: 12vw; /* keep const */
    height: 12vw;
    /* border: 0.1vw solid maroon; */
}

.whole {
 margin: auto;
 padding-left: 4%;
 padding-right: 4%;
 text-align: center;
}

#person {
    float: left;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

#name {
    font-weight: bold;
}

@media (max-width: 1000px) {

    #title {
        font-size: 12vw;
    }
    
    .pic {
        height: 75vw;
        width: 75vw;
        margin: auto;
    }
    
    #info {
        font-size: 9vw;
        width: auto;
        height: auto;
    }

    #person {
        width: 94%;
        float: left;
        padding-left: 3%;
        padding-right: 3%;
        text-align: center;
    }
}